body {
  background: #333;
}

.wrapper {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden;
}

.wave1 {
  width: 1000px;
  height: 1020px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 49%;
  background: rgba(255, 255, 255, .75);
  animation: wave1 12s infinite ease-in-out;
}


.wave2 {
  width: 1000px;
  height: 1020px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 45%;
  background: rgba(255, 255, 255, 0.25);
  animation: wave2 15s infinite linear;
}

@keyframes wave1 {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}

@keyframes wave2 {
  from { transform: rotate(0deg);}
  from { transform: rotate(360deg);}
}
